*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bright-orange: #e38826;
  --dark-cyan: #006970;
  --very-dark-cyan: #004241;

  --white: #ffffff;
  --light-gray: #f2f2f2ab;

  --ff-paragraph: "Lexend Deca", sans-serif;
  --ff-title: "Big Shoulders", sans-serif;
}

body, html {
  padding: 2rem 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

span {
  margin-bottom: 1.5rem;

  & > img {
    width: 3rem;
    height: 2rem;
  }
}

h1 {
  color: var(--white);
  font: 500 2rem var(--ff-title);
  text-transform: uppercase;

  margin-bottom: 2rem;
}

p {
  color: var(--light-gray);
  font-size: .9rem;

  margin-bottom: 1.5rem;
}

.cards-wrapper{
  width: 18rem;

  & > .card-sedans {
    background-color: var(--bright-orange);

    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  & > .card-suvs {
    background-color: var(--dark-cyan);
  }

  & > .card-luxury {
    background-color: var(--very-dark-cyan);

    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }
}

button {
  border: none;
  border-radius: 2rem;
  
  padding: 1rem;
  width: 10rem;
  
  font: 400 .9rem var(--ff-paragraph);
  cursor: pointer;
}

.padding {
  padding: 2rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

#btn-sedans {
  background-color: var(--white);
  color: var(--bright-orange);

  &:hover {
    background-color: var(--bright-orange);
    color: var(--white);
    border: 1px solid var(--white);
  }
}

#btn-suvs {
  background-color: var(--white);
  color: var(--dark-cyan);

  &:hover {
    background-color: var(--dark-cyan);
    color: var(--white);
    border: 1px solid var(--white);
  }
}

#btn-luxury {
  background-color: var(--white);
  color: var(--very-dark-cyan);

  &:hover {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    border: 1px solid var(--white);
  }
}

@media screen and ( width >= 1280px) {
  .cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: auto;


    & > .card-sedans {
      border-bottom-left-radius: .5rem;
      border-top-right-radius: 0;
      height: 25rem;
      justify-content: space-between;

      & > p {
        margin-bottom: 5rem;
      }
    }

    & > .card-suvs {
      height: 25rem;
      justify-content: space-between;

      & > p {
        margin-bottom: 5rem;
      }
    }

    & > .card-luxury {
      border-bottom-left-radius: 0;
      border-top-right-radius: .5rem;

      height: 25rem;
      justify-content: space-between;

      & > p {
        margin-bottom: 5rem;
      }
    }
  }
}